@{
    ViewData["Title"] = "Home Page";
}
<link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet"/>
<a asp-action="Create" class="btn btn-success">Add Center</a>

<div class="row mt-4">
    <div class="col-md-12">
        <table id="centersTable" class="table table-striped table-bordered dt-responsive nowrap">
            <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script>
        $(document).ready(function () {
            $("#centersTable").dataTable({
                "serverSide": true,
                "filter": true,
                "ajax": {
                    "url": "/center/GetAll",
                    "type": "POST",
                    "dataType": "json",
                },
                "columnDefs": 
                [
                    /*{
                    "targets": [0],
                    "visible":false,
                    "searchable":false,
                    }*/
                ],
                "columns": [
                    { "data": "name", "name": "Name", "autowidth": true },
                    { "data": "location", "name": "Location", "autowidth": true },
                    {
                        "render": function (data, type, row) {
                            var editUrl = '@Url.Action("Update", "Center")/' + row.id;
                            var deleteUrl = '@Url.Action("Delete", "Center")/' + row.id;
                            return '<a href="' + editUrl + '" class="btn btn-warning">Edit</a>' +
                                   '<a href="' + deleteUrl + '" class="btn btn-danger">Delete</a>';
                        },
                        "orderable": false // Disable sorting for the Actions column
                    }
                ]
            });
        });
    </script>
}